<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plantilla</title>
</head>

<body>
    <div layout:fragment="contenido">
        <h2 th:text="${titulo}">Contenido</h2>
    </div>

    <!-- scripts de la plantilla-->
    <script th:fragment="js"></script>
</body>

</html>